html {
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0;
  margin: 0;
  box-sizing: "Poppins", sans-serif;
}
.pBody {
  color: white;
}

nav {
  background-color: black;
  color: aliceblue;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cardIconSh {
  font-size: 1.8rem;
  cursor: pointer;
}
.seach {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.navBottom a {
  text-decoration: none;
  color: white;
}
.navBottom a:hover {
  text-decoration: none;
  color: rgb(67, 184, 110);
}
.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgrey;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.section1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px 100px 0;
  background: linear-gradient(to bottom, #8828d2, rgb(98, 214, 114));
}
.section1:before {
  content: "SNEAKERS";
  position: absolute;
  font-size: 18vw;
  color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  margin-top: 20vh;
}
.content {
  position: relative;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.imgBx {
  position: relative;
  width: 82%;
  display: flex;
  justify-content: center;
}
.content .imgBx img {
  max-width: 100%;
}
.content.text {
  max-width: 700px;
  margin-top: 20px;
}
.h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
}
.P1 {
  color: #fff;
}
.details {
  display: inline-block;
  padding: 10px 30px;
  color: #111;
  background: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 15px;
  cursor: pointer;
}
.details:hover {
  color: #fff;
  background: #111;
}
/* product */
.shop {
  margin-top: 2rem;
}
.section-title {
  font-style: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.shop-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.product-box {
  margin-top: 5%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 180px;
  padding: 70px 50px 0;
  margin: 0;
}
.product-box:hover {
  padding: 10px;
  border: solid;
  border: 1px color(srgb rgb(10, 10, 10) rgb(14, 20, 14) rgb(19, 19, 32));
  transition: 0.4s;
}
.product-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* margin-bottom: .5rem ; */
}
.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.product-price {
  font-weight: 500;
}
.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #111;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.add-cart:hover {
  background-color: hsl(249, 32%, 17%);
}
/* cart */
.cart {
  position: fixed;
  top: 0;
  /* right: 0; */
  right: -100%;
  width: 360px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: var(#111);
  box-shadow: -2px solid 4px hsl(0 4% 15%/10%);
  border: 1px var(#111);
  border: solid;
  transition: 1.5s;
}
.cart.avtive {
  right: 0;
  transition: 0.5s;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
}
.cart-quantity {
  border: 1px solid var(#111);
  outline-color: var(#111);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 24px;
  color: #111;
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid color(#140c15);
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: #6e477a;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-buy:hover {
  background-color: #111;
}
#cart-close {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: #111;
  cursor: pointer;
}

.cta-list {
  display: grid;
  gap: 40px;
}
.cta-card {
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(white);
  text-align: center;
  padding: 90px 10px;
}
.cta-card .card-title {
  color: white;
  line-height: 1.3;
  margin-bottom: 20px;
}

/* .styleDiv{
  background-image: url(./img/inscri.webp);
  overflow: hidden;
} */
.styleDiv {
  background-image: url(https://1.bp.blogspot.com/-nB1P0kZNHNQ/UnLQX-N_kqI/AAAAAAAAISE/4_KSRbxiFng/s1600/image001.jpg);
  overflow: hidden;
}

.tt {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.containerLog {
  position: relative;
  padding: 70px 40px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.containerLog h2 {
  color: #040404;
  margin-bottom: 45px;
  line-height: 1rem;
  font-weight: 600;
  padding-left: 10px;
  border-left: 5px solid rgb(101, 214, 101);
}
.containerLog .inputBox {
  position: relative;
  width: 300px;
  height: 20px;
  margin-bottom: 45px;
}
.containerLog .inputBox:last-child {
  margin-bottom: 0;
}
.containerLog .inputBox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid black;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  color: #040404;
  font-weight: 300;
}
.containerLog .inputBox span {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  color: #040404;
  font-weight: 300;
  transition: 0.5s;
  pointer-events: none;
}
.containerLog .inputBox input:focus ~ span,
.containerLog .inputBox input:valid ~ span {
  transform: translate(-10px) translateY(-32px);
  font-size: 12px;
}
.containerLog .inputBox input.sub {
  background-color: #6e477a;
  color: #e7dee8;
  border: none;
  max-width: 120px;
  cursor: pointer;
  font-weight: 500;
}
.containerLog .inputBox input.sub:hover {
  background-color: #040404;
}
.newSeason {
  display: flex;
}
.nsItem {
  flex: 1;
  background-color: rgb(237, 236, 236);
  color: rgb(1, 1, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nsImg {
  width: 100%;
  height: 500px;
}
.nsTitle {
  font-size: 40px;
}
.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}
/* footer */
.footer {
  display: flex;
}
.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}
.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fInput {
  padding: 5px;
}
.fBotton {
  padding: 5px;
  background-color: black;
  color: white;
}
.fIcons {
  display: flex;
}
.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.copyright {
  font-weight: 300;
  font-size: 14px;
}
.SH1 span {
  background: linear-gradient(to left, #8828d2, rgb(98, 214, 114));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}

/* .slider {
  background-image: url(https://img.freepik.com/photos-premium/mur-batiment-brique-noire_73152-4222.jpg);
  clip-path: polygon(0 0, 100% 0, 26% 48%, 89% 100%, 70% 100%, 30% 100%, 0 100%, 0% 30%);
  overflow: hidden;
} */
/* .sliderWrapper {
  display: flex;
  width: 500vw;
}
.ImgBody{
  width: 5%;
  height: 5%;
  margin-left: 1;
} */

/*Products*/

/*Review*/

.review {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}

.review h1 {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.review h1 span {
  background: linear-gradient(to left, #8828d2, rgb(98, 214, 114));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}

.review .review_box {
  width: 95%;
  position: relative;
  top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.review .profile .profile_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.review .profile .profile_image:hover {
  transform: scale(1.2);
}

.review .profile_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.review .profile {
  display: flex;
  align-items: center;
}

.review .review_box .review_card {
  width: 500px;
  background: #f3f1f1;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.review .review_box .review_card .card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review .review_box .review_card .card_top .profile .name {
  margin-left: 20px;
  line-height: 22px;
}

.review .review_box .review_card .card_top .profile .name strong {
  font-size: 20px;
}

.review .review_box .review_card .card_top .profile .name .like i {
  color: orange;
  display: inline-block;
  font-size: 12px;
}

.review .review_box .review_card .comment p {
  text-align: justify;
  line-height: 22px;
  margin-top: 15px;
}

/*Services*/
.SH1 {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.SH1 .span {
  background: linear-gradient(to left, #8828d2, rgb(98, 214, 114));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.featureIcon {
  width: 50px;
  height: 50px;
}
.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}
.featuredDesc {
  color: gray;
  width: 50%;
  height: 100px;
}
/*Login Form*/
